body {
  background-color: black;
  margin: 80px;
}

h1 {
  color: red;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 200%;
}

h4 {
  color: cyan;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 125%;
}

p {
  color: green;
  font-family: "Lucida Console", Monaco, monospace;
  padding-bottom: 20px;
}

a {
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  text-decoration:none;
}

.tipos {
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  border: 1px solid powderblue;
  padding: 20px;
}

